<div class="row">
    <div class="col text-center" style="height: 500px">
        <img src="https://timeweb.com/ru/community/article/67/67d62d1e0bc27de113cc0e25239705e2.png" class="h-100" />
    </div>
</div>
